[submodule "model_server/src/resolve/SmolLM-135M-Instruct-q0f32-MLC"]
	path = model_server/src/resolve/SmolLM-135M-Instruct-q0f32-MLC
	url = https://huggingface.co/mlc-ai/SmolLM2-135M-Instruct-q0f32-MLC
